h1{
    background: rgb(40, 40, 84);
    color: orangered;
    position: sticky;
    top:10px;
}
body{
    background:linear-gradient(to right,#04f5f1,pink);
}
div .h1{
    background-color: black;
    color: aquamarine;
}
div{
border: 2px;
width:320px;
height:370px;
border-style: solid;
padding-left: 50px;
padding-right: 50px;
margin-left:250px;
background: transparent;
background-blend-mode:hard-light;
background-clip: border-box;
box-shadow: 10px 10px 10px grey;
}
input[type="submit"]{
    padding-left: 10px;
    width:90px;
    margin-left: 120px;
    background:green;
    color:white;
}
input[type="text"]{
    width:290px;
    background: transparent;
}
input[type="tel"]{
    width:290px;
    background: transparent;
}
input[type="email"]{
    width:290px;
    background: transparent;
}
header{
    background:rgb(40, 40, 84);
    color: orangered;
}
header nav a{
    color: aliceblue;
    padding-left: 50px;
}