
body{
    background: linear-gradient(to right,#04f5f1,pink);
}
nav{
    margin-top: 40px;

}
header{
    background:rgb(40, 40, 84);
    color: orangered;
    position: sticky;
    top:10px;
}
nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline;
}
nav ul li a{
    margin-left: 200px;
    color: white;
}
img{
    border:20px;
    border-style: groove;
    width:700px;
    height:500px;
    margin-top:50px;
    margin-left: 300px;
    box-shadow: 20px 15px 20px rgb(211, 100, 100);
}
